
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thank You</title>
</head>
<body>
<h2>Response Entered by you:</h2>
<form method="post">

            <ul>
            <li>Name: <strong>{{ name }}</strong></li>

            <li>Email: <strong>{{ email }}</strong></li>
		
	    <li>Room: <strong>{{ favorite_room }}</strong></li>

	    <li>Check in Date: <strong>{{ checkin_date }}</strong></li>

	    <li>Check out Date: <strong>{{ checkout_date }}</strong></li>

            <li>Feedback: <strong>{{ feedback }}</strong></li>
          </ul>
</form>
</body>
</html>


